Detection & Sampling/MDProject.xcodeproj/xcuserdata/Beygel.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Detection & Sampling/MDProject.xcodeproj/xcuserdata/molda.xcuserdatad/xcschemes/xcschememanagement.plist
Detection & Sampling/MDProject.xcodeproj/xcuserdata/yevgenybeygel.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Tennis Game/MotionDetectionGame.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
Tennis Game/MotionDetectionGame.xcodeproj/project.xcworkspace/xcuserdata/molda.xcuserdatad/WorkspaceSettings.xcsettings
Tennis Game/MotionDetectionGame.xcodeproj/xcuserdata/molda.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
Tennis Game/MotionDetectionGame.xcodeproj/xcuserdata/molda.xcuserdatad/xcschemes/xcschememanagement.plist
Tennis Game/MotionDetectionGame.xcodeproj/xcuserdata/yevgenybeygel.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
